
.title{text-align: center;}

.container {
    width: 280px;
    margin: 70px;
    padding: 40px;
    border: 10px solid #59c5c7;}

.container__title--blue:hover{color: blue;}

.container__span--red{color: red;}

.section__title:active{color: yellow;}

.section__item{text-align: left;}

.section__link{color:violet;}

footer{color: green;}